<nav class="navbar container my-4 px-4 py-3 rounded-4 bg-white shadow d-flex justify-content-between align-items-center ">

    <div class="d-flex align-items-center">
        <h1 class="fs-4 rounded p-1 m-0">
            <a href="{% url "home" %}" class="text-decoration-none text-dark">BookStore</a>
        </h1>
        <a href="{% url "about" %}" class="text-decoration-none text-dark mx-4">About</a>
    </div>

    {% if user.is_authenticated %}
        <div class="d-flex align-items-center">
            <p class="m-0 px-4 fs-5 fw-bold">Hi, {{user.username}}</p>
            {% comment %} <form action="{% url "account_logout" %}" method="post" class="m-0">

                {% csrf_token %}
                <button class="btn btn-dark" type="submit">LogOut</button>

            </form> {% endcomment %}
            <a href="{% url "account_logout" %}" class="btn btn-dark">LogOut</a>
        </div>

        {% else %}
        
        <div>
            <a href="{% url "account_login" %}" class="btn btn-dark">Login</a>
            <a href="{% url "account_signup" %}" class="btn btn-outline-dark">SignUp</a>
        </div>

    {% endif %}
</nav>
